html {
  min-height: 100%;
  font-size: $font-size-paragraph;
  font-family: $font-family;
  position: relative;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: $color-black;
  letter-spacing: 1.8px;
}

body {
  padding-top: $spacing-default * 13 + $menu-height;
}

p {
  font-size: $font-size-paragraph;
  line-height: 1.6;
}

strong {
  font-weight: $font-medium;
}
