.c-navigation {
    $c: &;

    @include wrapperPage;

    align-items: center;
    height: $menu-height;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    transition: height 300ms ease;

    @include mq($until: large) {

        .mobile-menu & {
            height: 100%;
            background-color: $color-white;
            align-items: unset;
            padding-top: $spacing-default * 3;
            padding-bottom: $spacing-default * 3;
        }
    }


    &__logo-link {
        width: 83px;
        height: 40px;

        @include mq($until: large) {
            .mobile-menu & {
                margin-bottom: $spacing-default * 4;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include mq($until: large) {

            .mobile-menu & {
                flex-direction: column;
                align-items: self-start;
            }
        }

        ul {
            display: flex;
            margin-left: $spacing-default * 6;

            @include mq($until: large) {
                flex-direction: column;
                margin-left: unset;
                display: none;

                .mobile-menu & {
                    display: flex;
                }
            }


            li {
                margin-right: $spacing-default * 4;

                @include mq($until: large) {
                    margin-bottom: $spacing-default * 3;
                }


                &.current_page_item {
                    a {
                        font-weight: $font-medium;

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background: $gradient-default-horizontal;
                        }
                    }
                }

                a {
                    font-weight: $font-light;
                    color: $color-gray;
                    position: relative;
                    transition: $transition-default;

                    &:hover {
                        color: $color-primary;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: transparent;
                    }
                }
            }
        }
    }

    &__wrapper-logo-menu {
        display: flex;
        align-items: center;

        @include mq($until: large) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    }

    &--lower {
        height: $menu-height-after-scroll;
        background-color: $color-white;
    }

    &__hamburger {
        width: $spacing-default * 3;
        height: 18px;
        box-shadow: inset 0 -2px 0 0 $color-primary;
        position: relative;
        cursor: pointer;
        transition: $transition-default;
        position: fixed;
        right: $spacing-default * 4;
        top: $spacing-default * 4;
        display: none;

        &:before,
        &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
            content: "";
            transform-origin: center center;
            transition: $transition-default;
        }

        &:before {
            top: 0;
        }

        &:after {
            top: calc(50% - 1px);
        }

        .mobile-menu & {
            box-shadow: unset;

            &:before {
                transform: rotate(45deg);
                top: 50%;
            }

            &:after {
                transform: rotate(-45deg);
                top: 50%;
            }
        }

        @include mq($until: large) {
            display: block;
        }
    }

    &__btn {
        @include mq($until: large) {
            display: none;

            .mobile-menu & {
                display: flex;
            }
        }
    }
}
