@import "../2_tools/tools-wrappers";

.c-bespoke-algorithms {
    @include wrapperPage;

    margin-bottom: $spacing-section;

    &__wrapper {
        padding-left: 30%;
    }

    &__headline {
        max-width: 500px;
        margin-bottom: $spacing-default * 12;
    }

    &__wrapper-sections {
        display: flex;
        font-weight: $font-light;
        margin-bottom: $spacing-default * 8;
    }

    &__section {
        position: relative;
        margin-right: $spacing-default * 7;
        flex: 1;

        &:before {
            content: "";
            display: block;
            width: $spacing-default * 4;
            height: $spacing-default * 4;
            background: url($path-images + "icon-plus.svg") no-repeat transparent;
            position: absolute;
            left: -$spacing-default * 4;
            top: -$spacing-default * 4;
            transition: $transition-slow;
        }

        &:hover {
            cursor: default;

            &:before {
                transform: rotate(360deg);
            }
        }
    }

    &__description {
        font-weight: $font-medium;
        font-size: $font-size-h3;
    }
}
