.o-form {
    $c: &;

    width: 100%;

    &__wrapper-inputs {
        display: flex;
    }

    &__wrapper-search {
        position: relative;

        &:after {
            content: "";
            width: 16px;
            height: 16px;
            background: no-repeat url($path-images + "icon-search.svg");
            display: flex;
            position: absolute;
            top: $spacing-default * 2;
            right: 10px;
        }
    }

    &__input {
        border: 0;
        border-bottom: 1px solid $color-gray;
        height: 47px;
        width: 100%;
        color: $color-gray;
        outline: 0;
        padding-left: $spacing-default * 2;
        padding-right: $spacing-default * 2;
        font-family: $font-family;
        font-weight: $font-light;
        transition: $transition-default;
        letter-spacing: 1.8px;
        margin-right: $spacing-default * 2;
        margin-bottom: $spacing-default * 5;
        background: transparent;

        &:focus {
            border-bottom: 1px solid $color-primary;
        }

        &:last-child {
            margin-right: unset;
        }

        &--search {
            padding-right: $spacing-default * 4;
        }
    }

    &__checkbox-description {
        font-size: $font-size-milli;
        font-weight: $font-light;
        letter-spacing: 1px;
    }

    &__wrapper-checkbox {
        margin-right: $spacing-default * 2;
        display: flex;

        @include mq($until: large) {
            margin-bottom: $spacing-default * 4;
        }
    }

    &__checkbox-description-link {
        text-decoration: underline;
        color: inherit;
    }

    &__wrapper-checkbox-description {
        margin-left: $spacing-default * 2;
        flex: 1;
    }

    &__checkbox {
        display: none;

        &:checked {
            & + #{$c}__label-checkbox {
                &:before {
                    background: (center / contain) no-repeat url($path-images + "icon-check.svg");
                    background-size: 65%;
                }
            }
        }
    }

    &__label-checkbox {
        position: relative;
        display: flex;
        top: 3px;
        width: $spacing-default * 3 + 2;
        height: $spacing-default * 3 + 2;

        &:before {
            content: "";
            display: block;
            border: 1px solid $color-primary;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper-cta {
        display: flex;
        margin-top: $spacing-default * 5;

        @include mq($until: large) {
            flex-direction: column;
        }
    }

    ::-webkit-input-placeholder {
        color: rgba($color-gray, 0.5);
    }

    ::-moz-placeholder {
        color: rgba($color-gray, 0.5);
    }

    :-ms-input-placeholder {
        color: rgba($color-gray, 0.5);
    }

    :-moz-placeholder {
        color: rgba($color-gray, 0.5);
    }
}
