.o-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    font-weight: $font-medium;
    font-size: $font-size-btn;
    min-height: $spacing-default * 7;
    min-width: $spacing-default * 40;
    padding: ($spacing-default / 2) ($spacing-default * 3);
    box-shadow: $shadow-default;
    background: transparent;
    color: $color-white;
    border: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
    height: max-content;
    letter-spacing: 1.8px;
    z-index: 10;

    &:before,
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: $transition-default;
    }

    &:before {
        background: $gradient-default-horizontal;
        z-index: -2;
    }

    &:after {
        background: $color-primary;
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }

    &:disabled {
        opacity: .5;
        cursor: default;
    }

    &--small {
        min-height: $spacing-default * 5;
        padding-left: $spacing-default * 4;
        padding-right: $spacing-default * 4;
        min-width: unset;
    }

    &--no-shadow {
        box-shadow: unset;
    }

    &__mask {
        position: absolute;
        left: 2px;
        top: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background: $color-white;
        color: $color-primary-lighter;
        transition: $transition-default;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $color-primary;
        }
    }

    .c-navigation--lower & {
        background: $gradient-default-horizontal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        box-shadow: unset;

        &:before,
        &:after {
            display: none;
        }
    }
}
