.c-description {
    @include wrapperPage;

    &__title {
        margin-bottom: $spacing-default * 4;
        font-weight: $font-light;
        max-width: $max-width-text;
    }

    &__title-link {
        text-decoration: underline;
        color: inherit;
        margin-bottom: $spacing-default * 8;
    }

    &__wrapper-slider-roles {
        overflow: hidden;
        margin-bottom: $spacing-default * 4;
    }

    &__wrapper-roles {
        font-weight: $font-medium;
        color: $color-primary-lighter;
        font-size: $font-size-h1;
        display: flex;
        flex-direction: column;
        transition: $transition-default;
        transition-timing-function: cubic-bezier(.25,.75,.5,1.25);
    }
}
