.c-advanced-analytics {
    @include wrapperPage;

    background: $gradient-dark;
    color: $color-white;
    margin-bottom: $spacing-section;

    &__headline {
        margin-bottom: $spacing-default * 10;

        &--smaller {
            margin-bottom: $spacing-default * 5;
        }
    }

    &__wrapper {
        padding-top: $spacing-section;
    }

    &__columns {
        display: flex;
        margin-bottom: $spacing-default * 10;
    }

    &__column {
        margin-right: $spacing-default * 10;
    }

    &__graphic {
        width: 732px;

        @include mq($until: large) {
            display: none;
        }
    }

    &__p {
        font-weight: $font-light;
        position: relative;

        @include ident($color-primary, $spacing-default * 3);

        &--optional {

            &:before {
                background-color: $color-primary-lighter;
            }
        }

        &--last {
            margin-bottom: $spacing-default * 10;
        }
    }
}
