.c-mobile-app {
    @include wrapperPage;

    background: $gradient-gray;
    padding-top: $spacing-section;
    padding-bottom: $spacing-section;

    &__description {
        font-weight: $font-light;
        margin-bottom: $spacing-default * 8;
    }

    &__description-bottom {
        font-weight: $font-medium;
        max-width: $spacing-section * 8;
    }

    &__headline {
        margin-bottom: $spacing-default * 8;
    }

    &__wrapper-img {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: $page-width-narrow;
        justify-content: center;
        margin-bottom: $spacing-default * 8;

        @include mq($until: large) {
            height: auto;
            align-items: flex-start;
        }
    }

    &__img {
        max-width: 854px;

        @include mq($until: large) {
            display: none;
        }
    }

    &__description-img {
        position: absolute;
        font-weight: $font-light;
        max-width: $spacing-default * 40;
        padding-left: $spacing-default * 2;
        padding-right: $spacing-default * 2;

        @include mq($until: large) {
            position: unset;
            max-width: unset;
            padding-left: unset;
            padding-right: unset;
            margin-bottom: $spacing-default * 2;
        }


        &:before {
            content: "";
            display: flex;
            width: 1px;
            position: absolute;
            background-color: $color-primary;

            @include mq($until: large) {
                display: none;
            }
        }

        &--1 {
            text-align: right;
            top: 0px;
            right: calc(50% + 93px);

            &:before {
                right: 0;
                top: 0;
                height: 145px;
            }

            @include mq($until: large) {
                text-align: unset;
            }
        }

        &--2 {
            text-align: left;
            top: 0px;
            right: calc(50% - 506px);

            &:before {
                left: 0;
                top: 0;
                height: 345px;
            }
        }

        &--3 {
            text-align: right;
            top: 529px;
            right: calc(50% + 190px);

            &:before {
                right: 0;
                bottom: 0;
                height: 145px;
            }

            @include mq($until: large) {
                text-align: unset;
            }
        }

        &--4 {
            text-align: left;
            top: 529px;
            right: calc(50% - 429px);

            &:before {
                left: 0;
                bottom: 0;
                height: 183px;
            }
        }
    }
}
