.c-contact {
    @include wrapperPage;

    &__wrapper {
        margin-bottom: $spacing-section;
        width: 100%;
    }

    &__description {
        font-weight: $font-light;
        max-width: $max-width-text;
        margin-bottom: $spacing-default * 10;
    }

    &__headline {
        margin-bottom: $spacing-default * 4;
    }

    &__headline-smaller {
        margin-bottom: $spacing-default * 4;
    }

    &__wrapper-columns {
        display: flex;

        @include mq($until: large) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 1;
        margin-right: $spacing-default * 4;
        flex-direction: column;

        @include mq($until: large) {
            margin-right: unset;
        }

        &:last-child {
            margin-right: unset;

            @include mq($until: large) {
                margin-right: unset;
                margin-top: $spacing-default * 8;
                text-align: center;
            }
        }
    }

    &__addsress {
        margin-bottom: $spacing-default * 8;
        font-weight: $font-light;
    }

    &__wrapper-address {
        padding-left: $spacing-default * 20;

        @include mq($until: large) {
            padding-left: unset;
        }
    }
}
