.c-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    margin-right: $spacing-default * 6;
    margin-top: $spacing-default * 6;

    &__headline {
        font-weight: $font-light;
        margin-bottom: $spacing-default * 2;
    }

    &__category-item {
        margin-bottom: $spacing-default;
    }

    &__category-item-link {
        @include category;
    }
}
