.c-bespoke-algorithms {
    @include wrapperPage;
    @include plusSections;

    margin-bottom: $spacing-section;

    &__wrapper {
        padding-left: 30%;

        @include mq($until: large) {
            padding-left: unset;
        }
    }

    &__headline {
        max-width: 500px;
        margin-bottom: $spacing-default * 12;
    }

    &__wrapper-sections {
        display: flex;
        font-weight: $font-light;
        margin-bottom: $spacing-default * 8;

        @include mq($until: large) {
            flex-direction: column;
        }
    }

    &__section {
        @include mq($until: large) {
            margin-bottom: $spacing-default * 6;
        }
    }

    &__description {
        font-weight: $font-medium;
        font-size: $font-size-h3;
    }
}
