.c-menage-operations {
    @include wrapperPage;

    margin-bottom: $spacing-section;
    position: relative;

    &__wrapper-content {
        display: flex;

        @include mq($until: large) {
            flex-direction: column;
        }
    }

    &__headline {
        max-width: 830px;
        margin-bottom: $spacing-default * 8;
    }

    &__text {
        font-weight: $font-light;
        margin-bottom: $spacing-default * 8;
    }

    &__side {
        flex: 1;
        position: relative;
        min-height: 442px;

        @include mq($until: large) {
            min-height: unset;
        }

        &--photos {
            @include mq($until: large) {
                display: none;
            }
        }
    }

    &__img {
        max-width: 480px;
        box-shadow: $shadow-images;
        position: absolute;

        &--1 {
            right: 0;
            top: 0;
        }

        &--2 {
            left: 0;
            top: 100px;
        }
    }

    &:before,
    &:after {
        position: fixed;
        content: "";
        width: $spacing-default * 100;
        height: $spacing-default * 100;
        border-radius: $radius-oval * 100;
        z-index: -1;
        filter: blur(160px);
        opacity: 0.2;
    }

    &:before {
        left: 20%;
        top: 20%;
        background-color: $color-primary;
        animation: abstarct1 ease-out 10s infinite;
    }

    &:after {
        left: 20%;
        top: 20%;
        background-color: $color-primary-lighter;
        animation: abstarct2 ease-out 10s infinite;
    }

    @keyframes abstarct1 {
        0% {
            transform: translate(0, 0);
            opacity: 0.1;
        }

        50% {
            transform: translate(-500px, -400px);
            opacity: 0.25;
        }

        100% {
            transform: translate(0, 0);
            opacity: 0.1;
        }
    }

    @keyframes abstarct2 {
        0% {
            transform: translate(0, 0);
            opacity: 0.1;
        }

        50% {
            transform: translate(500px, 400px);
            opacity: 0.25;
        }

        100% {
            transform: translate(0, 0);
            opacity: 0.1;
        }
    }
}
