@mixin wrapperPage($pageWidth: $page-width) {
    display: flex;
    justify-content: center;

    &__wrapper {
        max-width: $pageWidth;
        margin-left: $spacing-default * 6;
        margin-right: $spacing-default * 6;

        @include mq($until: medium) {
            margin-left: $spacing-default * 4;
            margin-right: $spacing-default * 4;
        }
    }
}
