@mixin plusSections($flex: 1, $margin-bottom: unset) {
    
    &__section {
        position: relative;
        padding-right: $spacing-default * 7;
        flex: $flex;
        margin-bottom: $margin-bottom;

        &:before {
            content: "";
            display: block;
            width: $spacing-default * 4;
            height: $spacing-default * 4;
            background: url($path-images + "icon-plus.svg") no-repeat transparent;
            position: absolute;
            left: -$spacing-default * 4;
            top: -$spacing-default * 4;
            transition: $transition-slow;
        }

        &:hover {
            cursor: default;

            &:before {
                transform: rotate(360deg);
            }
        }
    }
}

@mixin ident($bgColor: $color-gray-lighter, $marginBottom: unset) {
    &--ident {
        padding-left: $spacing-default * 2;
        margin-bottom: $marginBottom;

        &:before {
            content: "";
            display: block;
            width: 2px;
            height: calc(100% - #{$spacing-default});
            background-color: $bgColor;
            position: absolute;
            left: 0;
            top: $spacing-default / 2;
        }
    }
}

@mixin bottomBoxBar($backgroundColor: $color-primary) {
    &:after {
        content: "";
        display: block;
        height: $spacing-default;
        width: 100%;
        background-color: $backgroundColor;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}